<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en" ng-app="Sharental">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Profile Page</title>

<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{~/css/profile.css}"/>
    <script th:src="@{~/js/angular.min.js}"></script>

</head>
<body>

<div class="container padding-bottom-3x mb-2" ng-controller="ProfileController">
    <div class="row">
        <div class="col-lg-4">
            <aside class="user-info-wrapper">
                <div class="user-cover" style="background-image: url(https://bootdey.com/img/Content/bg1.jpg);">
                    <div class="info-label" data-toggle="tooltip" title="" data-original-title="You currently have 290 Reward Points to spend"><i class="icon-medal"></i>290 points</div>
                </div>
                <div class="user-info">
                    <div class="user-avatar">
                        <a class="edit-avatar" href="#"></a><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="User"></div>
                    <div class="user-data">
                        <h4>{{user.name}}</h4><span>Joined {{user.registrationDate}}</span>
                        {{user.username}}
                    </div>
                </div>
            </aside>
            <nav class="list-group">
                <a class="list-group-item" href="#"><i class="fa fa-email"></i>{{user.email}}</a>
                <a class="list-group-item with-badge" href="#"><i class=" fa fa-th"></i>Orders<span class="badge badge-primary badge-pill">6</span></a>
                <a class="list-group-item" href="#"><i class="fa fa-user"></i>Profile</a>
                <a class="list-group-item" href="#"><i class="fa fa-map"></i>Addresses</a>
                <a class="list-group-item with-badge active" href="#"><i class="fa fa-heart"></i>Wishlist<span class="badge badge-primary badge-pill">3</span></a>
                <a class="list-group-item with-badge" href="#"><i class="fa fa-tag"></i>My Tickets<span class="badge badge-primary badge-pill">4</span></a>
            </nav>
        </div>
        <div class="col-lg-8">
            <div class="padding-top-2x mt-2 hidden-lg-up"></div>
            <!-- Wishlist Table-->
            <div class="table-responsive wishlist-table margin-bottom-none">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Product Name</th>
                        <th class="text-center"><a class="btn btn-sm btn-outline-danger" href="#">Clear Wishlist</a></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="product in products">
                        <td>
                            <div class="product-item">
                                <a class="product-thumb" href="#"><img src="https://via.placeholder.com/220x180/FF0000/000000" alt="Product"></a>
                                <div class="product-info">
                                    <h4 class="product-title"><a href="#">{{product.productName}}</a></h4>
                                    <div class="text-lg text-medium text-muted">{{product.productPrice}}</div>
                                    <div>Availability:
                                        <div class="d-inline text-success">{{product.availability}}</div>
                                        <div class="d-inline text-success">{{product.productDescription}}</div>
                                        <div class="d-inline text-success">{{product.createdAt}}</div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="text-center"><a class="remove-from-cart" href="#" data-toggle="tooltip" title="" data-original-title="Remove item"><i class="icon-cross"></i></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <hr class="mb-4">
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" id="inform_me" checked="">
                <label class="custom-control-label" for="inform_me">Inform me when item from my wishlist is available</label>
            </div>
        </div>
    </div>
</div>
<script data-require="ui-bootstrap@1.3.2" data-semver="1.3.2" src="//cdn.rawgit.com/angular-ui/bootstrap/gh-pages/ui-bootstrap-tpls-1.3.2.js"></script>
<script th:src="@{~/js/app.js}"></script>
</body>
</html>